CORS_ALLOW_ORIGINS=https://kifaru.site,https://www.kifaru.site,http://localhost:5173,http://127.0.0.1:5173
SMS_ENABLED=false
SMS_API_URL=https://itecsms.rw/api/sendsms
SMS_API_KEY=replace_with_your_api_key
SMS_RECIPIENTS=250780000000
